
section.banner {
  height: 100vh;

  background: url("../imgs/background.jpg") no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, transparent 0%, rgba(68,102,187,0.5) 80%, $darkerBg 100%);


  }



  div.logo {

    width: 80%;
    height: 80vh;

    background: url("../imgs/logo.png") no-repeat;
    background-position: center center;
    background-size: contain;
  }

}

section.architecture {
  height: 100vh;

  //background: url("../imgs/background.jpg") no-repeat;
  //background-position: center center;
  //-webkit-background-size: cover;
  //background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;


  div.title {

    width: 80%;
    height: 80vh;

    background: url("../imgs/title.png") no-repeat;
    background-position: center center;
    background-size: contain;
  }

}