article.location {
   padding: 24px;
   
   $imgSize: 25%;
   $imgMargin: 3%;
   
   img {
      width: $imgSize;
      border-radius: 40% 10%;
      box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.25);
      float: left;
      
   }
   
   h1 {
      font-size: 32px;
      margin-left: $imgSize + $imgMargin;
            margin-bottom: 12px;
   }
   
   h2 {
      color: darken($textColor, 40);
      font-size: 22px;
      margin-left: $imgSize + $imgMargin;      
   }
   
   p {
      margin-left: $imgSize + $imgMargin;      
      margin-bottom: 12px;
      
   }
   
}