
section.banner {
  min-height: 70vh !important;
  padding-bottom: 0px;

  position: relative;

  background: url("../imgs/wall-background.jpg") no-repeat;

  -webkit-background-size: cover;
  background-size: cover;

  div.devconLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, transparent 0%, rgba(214, 209, 202, 0.5) 80%, $darkerBg 100%);


  }


  div.anim-container {


    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 1;
    transition: opacity 1s linear;

    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
      opacity: 0;
    }

    img {
      width: 90%;
    }


    //div.image {
    //
    //
    //  width: 80%;
    //  height: 80vh;
    //
    //
    //
    //  background-position: center center;
    //  background-size: cover;
    //  opacity: 1;
    //  transition: opacity 1s linear;
    //
    //
    //  &.logo {
    //    background: url("../imgs/logo.png") no-repeat;
    //  }
    //
    //  &.title {
    //    background: url("../imgs/title.png") no-repeat;
    //  }
    //
    //}


  }


}


@media screen and (max-width: 1024px) {
  section.banner {
    background: url("../imgs/logo2019.jpg") no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    div.devconLogo {
      display: none;
    }
  }
}


section.architecture {
  height: 100vh;

  //background: url("../imgs/background.jpg") no-repeat;
  //background-position: center center;
  //-webkit-background-size: cover;
  //background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;


  div.title {

    width: 80%;
    height: 80vh;

    background: url("../imgs/title.png") no-repeat;
    background-position: center center;
    background-size: contain;
  }

}