

section.speakers {


  div.presentations {


    div.speak {

      padding: 18px 24px;

      &.keynote {
        box-shadow: 0 0 30px 2px rgba(0,0,0,0.08);
        background-color: rgba(255,255,255,0.1);
      }
      img {
        height: 320px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 22px;
        border-top-left-radius: 100px;
        -webkit-border-top-left-radius: 100px;
        -moz-border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        -webkit-border-bottom-right-radius: 100px;
        -moz-border-bottom-right-radius: 100px;
      }


      h3 {
        position: relative;

        height: 28px;
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &:before {
          position: relative;
          content: " ";
          width: 24px;
          height: 24px;
          background: url('../imgs/speak.svg') no-repeat;
          background-size: 75%;
          background-position: center center;
          margin-right: 6px;
          background-color: $speakColor;
          border-radius: 6px;

        }
      }


      p {
        font-size: 1em;
        margin: 6px 0;
      }
    }
  }




}