
section.workshops {


  .box-grid {
    margin: 24px 0;


    .box {
      padding: 18px 24px;

      h3 {
        position: relative;

        height: 28px;
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &:before {
          position: relative;
          content: " ";
          width: 24px;
          height: 24px;
          background: url('../imgs/jigsaw.svg') no-repeat;
          background-size: 75%;
          background-position: center center;
          margin-right: 6px;
          background-color: $workshopColor;
          border-radius: 6px;

        }
      }


      p {
        font-size: 1em;
        margin: 6px 0;
      }
    }
  }

}